= simple_form_for :message do |f|
  = f.input :username
  = f.input :text, as: :text
  .attachments
    = f.simple_fields_for :attachment do |attachment|
      = render 'slack/attachment_fields', f: attachment
  = f.submit
